/* .workspace-navbar {
  background-color: #303030;
}
.workspace-title {
  color: white !important;
}
.workspace {
  background-color: #505050;
  height: 100%;
}
.summaryFooter {
  display: flex;
} */